@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin:0;
    padding:0;
    /* border: 1px solid blue; */
    font-family: 'Roboto', sans-serif;
}


:root {
    --sidebar-grid-columns: 1fr 4fr;
    --sidebar-grid-text-position: 1 / 2 / 2 / 3;
    --sidebar-text-color: white;
}

body {
    display: grid;
    grid-template-rows: 200px 4fr;
    grid-template-columns: 1fr 5fr;

    height: 1365px;
}

/* HEADER */

.header {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 100px 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.upper-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50px 10fr 1fr 1fr 3fr;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
}

.upper-header > svg:first-child {
    justify-self: center;
}

.upper-header > p {
    font-size: 30px;
    font-weight: bold;
    justify-self: left;
    align-self: center;
    padding-left: 15px;
}

.bell {
    justify-self: center;
    align-self: center;
}

.upper-header > img {
    height: 90px;
    align-self: center;
    justify-self: center;
}

.lower-header {
    display: grid;
    grid-template-columns: 50px 1fr 3fr 6fr 5fr;
}

.lower-header > img {
    grid-area: 1 / 1 / 2 / 3;
    height: 90px;
    align-self: center;
    margin-left: 10px;
}

.lower-header > p {
    grid-area: 1 / 3 / 2 / 4;
}

.buttons {
    grid-area: 1 / 5 / 2 / 6;
    display: flex;
    justify-content: space-around;
}

.identifier {
    align-self: center;
    font-size: 25px;
}

.upper-header > input {
    height: 36px;
    font-size: 20px;
    min-width: 400px;
    max-width: 1200px;
}

/* SIDEBAR */

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #0ea5e9;
    /* padding-left: 25px; */
}

.logo {
    display: grid;
    grid-template-columns: var(--sidebar-grid-columns);
    height: 80px;
    margin-bottom: 80px;
    margin-top: 25px;
    align-items: center;
    padding-left: 15px;
}


.logo > p {
    grid-area: var(--sidebar-grid-text-position);
    font-size: 3vh;
    display: grid;
    align-items: center;
    color: var(--sidebar-text-color);
    font-weight: bold;
}

.sidebar > ul > li {
    display: grid;
    grid-template-columns: var(--sidebar-grid-columns);
    height: 50px;
    padding-left: 25px;
}

.sidebar > ul {
    display: grid;
    gap: 10px;
}

.sidebar > ul > li > p {
    grid-area: var(--sidebar-grid-text-position);
    display: grid;
    align-items: center;
    font-size: 2vh;
    color: var(--sidebar-text-color);
    font-weight: bold;
}

.sidebar-settings {
    margin-top: 50px;
}



/* MAIN CONTENT */

.main-content {
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: 1fr 9fr;
    overflow: hidden;
    background-color: #e0f2fe;
}

.card-section {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
    grid-template-columns: repeat(auto-fit, 450px);
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
    gap: 30px;
    justify-items: center;
}

.side-section {
    grid-area: 1 / 2 / 3 / 3;
}

.card {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    max-width: 450px;
    max-height: 200px;
    background-color: white;
    padding: 25px;
    padding-top: 50px;
    border-radius: 15px;
    border-left: 10px solid orange;
}

.side-section {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 4fr;
}

.announcement {
    background-color: white;
}

.trending-section {
    background-color: white;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
}

.card-icons > svg {
    margin-left: 10px;
    margin-right: 10px;
}


